/*insert style here*/
body {
    background-color: black;
}
.axis path,
.axis line {
    fill: none;
    stroke: black;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.gratLines {
    fill: none;
    stroke: #FFF;
    stroke-width: .5px;
}
.gratBackground {
    fill: #000000;
}
.map {
    border: medium solid #000;
    margin:0 px 0 0 20px;
}
.states {
    fill: #000000;
    stroke: #CCC;
    stroke-width: 3px;
}
.county {
    stroke: #FFFFFF;
    stroke-width: 0.5 px;
    stroke-linecap: round;
}
.chart{
    background-color: #000;
    border: thin solid white;
    float: right;
    margin: 7 px 20px 0 0;
}
.chartTitle {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    fill: #FFF;

}

.chartFrame {
    fill: none;
    stroke: #FFF;
    stroke-width: .5px;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: sans-serif;
    font-size: 1em;
    fill: #FFF;
}
